.Kioskend{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.Kioskend_row1{
    width: 100%;
    background-color: #42032c;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.Kioskend_row1_label1{
    font-size: 4rem;
    color: goldenrod;
}
.Kioskend_row1_label2{
    font-size: 2rem;
}
.Kioskend_row1_label3{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.Kioskend_row1_button{
    margin-top: 20px;
    /* margin-bottom: 20px; */
    width: 300px;
    display: flex;
    justify-content: space-between; 
}
.Kioskend_row1_button button{
    padding: 10PX;
    border: none;
}
.Kioskend_row1_button button:hover{
   background-color: goldenrod;
   font-weight: bold;
   color: aliceblue;
}
.Kioskend_row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Kioskend_row2_left,.Kioskend_row2_right{
    display: flex;
    flex-direction:column;

}

